body {
    background-color: #C10046;
}
header {
    margin: 0 40px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.pessoa {
    display: flex;
    align-items: center;
}
h2, h5 {
    margin: 1px;
    margin-left: 30px;
    font-family: 'Roboto', '700', sans-serif;
    color: white;
}
h5 {
    text-align: left;
}
.logoEncej {
    width: 200px;
    height: auto;
}
.icone {
    width: 140px;
    height: auto;
}
h1 {
    font-family: 'Roboto', '700', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
}
h4 {
    font-family: 'Roboto', '400', sans-serif;
    color: white;
    text-align: center;
    margin: 5px;
    margin-bottom: 40px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logoct {
    width: 160px;
    height: auto;
}
.logojuniores {
    width: 200px;
    height: auto;
}
