body {
    background-color: #C10046;
}
header {
    margin: 0 40px;
}
.icone {
    width: 140px;
    height: 140px;
}
h1 {
    font-family: 'Roboto', '700', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
}
h4 {
    font-family: 'Roboto', '400', sans-serif;
    color: white;
    text-align: center;
    margin: 5px;
    margin-bottom: 40px;
}
.encej {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 184px;
    margin-bottom: 30px;
 }
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logoct {
    width: 160px;
    height: 36px;
}
.logojuniores {
    width: 201px;
    height: 88px;
}
