body {
    background-color: #C10046;
}

@media screen and (max-width: 687px){
    body{
        margin: 16px;
    }
 }

h3 {
    color: black;
    font-family: 'Roboto', '700', sans-serif;
    font-size: 33px;
    margin: auto;
}

@media screen and (max-width: 687px){
    h3{
        font-size: 20px;
    }
 }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    width: 60vw;
    margin: auto;
    margin-top: 12vh;
}

@media screen and (max-width: 687px){
    .container{
        width: 55vh;
    }
 }

.sucesso {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color: #68d391;
    color: white;
    height: 100px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.text_sucesso {
    font-family: 'inter', '700', sans-serif;
    font-size: 40px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 687px){
    .text_sucesso{
        font-size: 32px;
    }
 }

.icon_sucesso {
    height: 80px;
    width: 80px;
    margin-left: 75px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

@media screen and (max-width: 687px){
    .icon_sucesso{
        height: 55px;
        width: 55px;
        margin-left: auto;
    }
 }

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    height: 351px;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media screen and (max-width: 687px){
    .box{
        height: 400px;
    }
 }

.enunciado {
    color: black;
    font-family: 'Roboto', '700', sans-serif;
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 687px){
    .enunciado{
        font-size: 22px;
    }
 }

.inf_quarto {
    background-color: #d9d9d9;
    width: 40vw;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

@media screen and (max-width: 687px){
    .inf_quarto{
        flex-direction: column;
        justify-content: space-evenly;
        width: 65vw;
        height: 120px;
        justify-content: center;
    }
 }

.icon_e_quarto {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.cama {
    width: auto;
    height: auto;
    max-width: 70px;
    max-height: 70px;
    margin: auto;
    margin-left: 0px;
    margin-right: 8px;
}

@media screen and (max-width: 687px){
    .cama{
        width: 45px;
    }
 }

.avatares_quarto {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 687px){
    .avatares_quarto{
        width: 200px;
    }
 }

.avatar_foto {
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 60px;
    /* margin-left: 10px; */
}

@media screen and (max-width: 687px){
    .avatar_foto{
        width: auto;
        height: auto;
        max-width: 40px;
        max-height: 40px;
    }
 }

.botao_voltar {
    text-align: center;
}

.estilo_botao {
    font-family: 'inter', '700', sans-serif;
    font-size: 22px;
    border: 0px;
    color: black;
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 55px;
    width: 174px;
}

@media screen and (max-width: 687px){
    .estilo_botao{
        width: 145px;
    }
 }