body {
    background-color: #C10046;
}

h1 {
    font-family: 'Roboto', '700', sans-serif;
    color: white;
    text-align: top;
    margin: 0;
}

p {
    font-family: 'Roboto', '700', sans-serif;
    color: white;
    text-align: top;
    margin: 0;
    font-size: 28px;
}

@media screen and (max-width: 687px) {
    p{
      font-size: 20px;
    }
  }

h3 {
    font-family: 'Roboto', '700', sans-serif;
    color: black;
    font-size: 25.55px;
}

@media screen and (max-width: 687px) {
    h3{
      font-size: 16px;
    }
  }

header {
    margin: 0 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pessoa {
    display: flex;
    align-items: center;
}

.icone {
    width: 140px;
    height: auto;
}

h2, h5 {
    margin: 1px;
    margin-left: 30px;
    font-family: 'Roboto', '700', sans-serif;
    color: white;
}

h5 {
    text-align: left;
}

.logoEncej {
    width: 200px;
    height: auto;
    
}

@media screen and (max-width: 687px) {
    .logoEncej{
      display: none;
    }
  }

.legenda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: white;
    width: 40vw;
    height:50.73px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9.77px;   
    position: center; 
}

@media screen and (max-width: 687px) {
    .legenda{
        width: 70vw;
        height: 40px;
    }
  }

.icones_legenda {
    width: auto;
    height: auto;
    max-width:35px;
    max-height:35px;
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and (max-width: 687px) {
    .icones_legenda{
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
        height: auto;
        max-width:26px;
        max-height:26px;
    }
  }

hr.solid {
    border-top: 1px solid #c2c2c2;
    width: 80vw;
  }

.vl {
    border-left: 2px solid #c9c9c9;
    height: 35px;
  }

.texto_capacidade {
    text-align: center;
    margin-top: 25px;
    font-size: 32px;
}

.tab_capacidade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.botao_on {
    background-color: #d53f8c;
    border: 0px;
    font-family: 'Roboto', '700', sans-serif;
    font-size: 23.6px;
    color: white;
    height: 59.6px;
    width: 160px;
    border-radius: 5px;
}

.botao_off {
    background-color: transparent;
    border: 0px;
    font-family: 'Roboto', '700', sans-serif;
    font-size: 23.6px;
    color: white;
    height: 59.6px;
    width: 160px;
}

@media screen and (max-width: 687px) {
    .botao_on{
      font-size: 20px;
      height: auto;
      width: auto;
      padding: 8px;
    }

    .botao_off{
      font-size: 20px;
      height: auto;
      width: auto;
      padding: 8px;
    }
  }

.grupo_quartos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 687px) {
    .grupo_quartos {
      flex-direction: column;
    }
}

.quarto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 112px;
    width: 700px;
    border-radius: 6.52px;
    margin-top: 40px;
}

@media screen and (max-width: 687px) {
    .quarto{
      width: 92vw;
      margin-left: auto;
      margin-right: auto;
    }
  }

.num_quarto {
    color: black;
    font-size: 19.85px;
    font-family: 'Roboto', '700', sans-serif;
    margin-left: 40px;
    margin-bottom: 5px;
}

@media screen and (max-width: 687px) {
    .num_quarto{
      font-size: 15px;
      margin-left: 15px;
    }
  }

.tag_quarto_disponivel {
    color: white;
    height: 22px;
    width: 81px;
    font-size: 13.1px;
    background-color: #25855a;
    border-radius: 5px;
    text-align: center;
    margin-left: 40px;
}

.tag_quarto_lotado {
    color: white;
    height: 22px;
    width: 81px;
    font-size: 13.1px;
    background-color: #c53030;
    border-radius: 5px;
    text-align: center;
    margin-left: 40px;
}

@media screen and (max-width: 687px) {
    .tag_quarto_disponivel{
        font-size: 10px;
        height: auto;
        width: auto;
        padding: 4px;
        margin-left: 15px;
    }

    .tag_quarto_lotado{
        font-size: 10px;
        height: auto;
        width: auto;
        padding: 4px;
        margin-left: 15px;
    }
  }

.icones_quarto {
    width: auto;
    height: auto;
    max-width:45px;
    max-height:45px;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 687px) {
    .icones_quarto{
        width: auto;
        height: auto;
        max-width:30px;
        max-height:30px;
        margin-left: 2px;
        margin-right: 2px;
    }
  }

  @media screen and (max-width: 687px) {
    .id_quarto{
        margin-right: 3px;
    }
  }

.botao_detalhes {
    border: 0px;
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 32.2px;
    width: 146.45px;
    font-family: 'Roboto', '700', sans-serif;
    font-size: 14px;
    margin-right: 40px;
}

@media screen and (max-width: 687px) {
    .botao_detalhes{
      width: 96px;
      margin-right: 15px;
    }
  }

footer {
    margin-top: auto;
    text-align: center;
}



.logoct {
    width: 160px;
    height: 36px;
}

.logojuniores {
    width: 201px;
    height: 88px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  backdrop-filter: blur(5px);
}
/* The Close Button */
.close {
  margin-right: 20px;
  margin-top: 10px;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.QuartoDiff {
    color: black;
    margin: auto;
    margin-left: 25px;
    font-family: 'Roboto', '700', sans-serif;
    text-align: auto;
    font-size: 17px;
}
.tituloPopup{
    text-align: center;
    font-family: 'Roboto', '700', sans-serif;
    color: white;
    text-align: auto;
    margin-bottom: 20px;
}
.EJ, .nomePeq {
    margin: 1px;
    margin-left: 15px;
    font-family: 'Roboto', '700', sans-serif;
    color: black;
}
.EJ {
    text-align: left;
}
.iconePeq {
    margin-left: 40px;
    margin-top: 10px;
    width: 50px;
    height: auto;
}
.modal-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    border-radius: 3px;
    width: 500px;
    height: 200px;
    background: white;
}
.iconGenerico {
    width: 15px;
    height: auto;
}
.room{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.people {
    display: flex;
    align-items: center;
}
.conjunto {
    display: flex;
    flex-direction: row;
}
@media (max-width: 800px) {
    .conjunto {
        flex-direction: column;
    }
    .box {
        width: 280px;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .iconePeq {
        margin-left: 0;
    }
}
.botao {
    background: white;
    color: black;
    border-color: white;
    height: 30px;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    margin: 7px;
    border-radius: 3px;
    border: 0px;
}
.botoes {
    margin-top: 30px;
}