.all {
    max-width: 1500px;
    margin: 0 auto;
}

@media screen and (max-width: 687px){
    .all{
        max-width: 100px;
    }
 }

body {
    background-color: #C10046;
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'Roboto', '700', sans-serif;
    color: white;
    text-align: top;
    margin: 0;
}

p {
    font-family: 'Roboto', '700', sans-serif;
    color: white;
    text-align: top;
    margin: 0;
    font-size: 28px;
}

h3 {
    font-family: 'Roboto', '700', sans-serif;
    color: black;
    font-size: 25.55px;
}

.avatar {
    height: 175px;
    width: 175px;
    margin-left: 75px;
    margin-top: 30px;
    float: left;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nome_EJ {
    margin-left: 70px;
    margin-top: 100px;
}

.encej {
    display: block;
    margin-top: 40px;
    margin-left: 550px;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
 }

 @media screen and (max-width: 687px){
    .encej{
        display: none;
    }
 }

.legenda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: white;
    width: 587.53px;
    height:50.73px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9.77px;   
    position: center; 
}

.icones_legenda {
    width: auto;
    height: auto;
    max-width:35px;
    max-height:35px;
    margin-left: 40px;
    margin-right: 40px;
}

hr.solid {
    border-top: 1px solid #c2c2c2;
    width: 997px;
  }

  @media screen and (max-width: 687px){
    hr.solid{
        width: 650px;
    }
 }

.vl {
    border-left: 2px solid #c9c9c9;
    height: 35px;
  }

.texto_capacidade {
    text-align: center;
    margin-top: 25px;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
}

.tab_capacidade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.botao_on {
    background-color: #d53f8c;
    border: 0px;
    font-family: 'Roboto', '700', sans-serif;
    font-size: 23.6px;
    color: white;
    height: 59.6px;
    width: 160px;
    border-radius: 5px;
}

.botao_off {
    background-color: transparent;
    border: 0px;
    font-family: 'Roboto', '700', sans-serif;
    font-size: 23.6px;
    color: white;
    height: 59.6px;
    width: 160px;
}

.grupo_quartos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .grupo_quartos {
      flex-direction: column;
    }
}

.quarto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 112px;
    width: 700px;
    border-radius: 6.52px;
    margin-top: 40px;
}

.num_quarto {
    color: black;
    font-size: 19.85px;
    font-family: 'Roboto', '700', sans-serif;
    margin-left: 40px;
    margin-bottom: 5px;
}

.tag_quarto_disponivel {
    color: white;
    height: 22px;
    width: 81px;
    font-size: 13.1px;
    background-color: #25855a;
    border-radius: 5px;
    text-align: center;
    margin-left: 40px;
}

.tag_quarto_lotado {
    color: white;
    height: 22px;
    width: 81px;
    font-size: 13.1px;
    background-color: #c53030;
    border-radius: 5px;
    text-align: center;
    margin-left: 40px;
}

.icones_quarto {
    width: auto;
    height: auto;
    max-width:45px;
    max-height:45px;
    margin-left: 5px;
    margin-right: 5px;
}

.botao_detalhes {
    border: 0px;
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 32.2px;
    width: 146.45px;
    font-family: 'Roboto', '700', sans-serif;
    font-size: 14px;
    margin-right: 40px;
}

footer {
    margin-top: 90px;
    text-align: center;
}

.logoct {
    width: 160px;
    height: 36px;
}

.logojuniores {
    width: 201px;
    height: 88px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
